# Ohh Bhai 

name: Python App Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r Installer.txt

    - name: Run tests
      run: python -m pytest

    - name: Deploy
      run: |
        # Add your deployment steps here
        echo "Deploying the app..."
